.button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
}

.button:hover {
    opacity: 0.9;
}

.button:focus {
    outline: dotted;
}

.button:active {
    background-color: #008CF0;
}

.button:disabled {
    color: #4a4a4a;
    background: #0000000d;
    border-color: #0000000d;
    cursor: default;
}

.button:disabled:hover {
    opacity: 1;
}
