.table {
    border-collapse: collapse;
    background-color: transparent;
    border-spacing: 2px;
    display: table;
    border: none;
    vertical-align: middle;
    line-height: 38px;
}

.table thead {
    display: table-header-group;
    border-color: inherit;
    border-bottom: solid 2px #008CBA;
}

.table tr {
    border-bottom: solid 1px #008CBA;
}
