.header ul {
    padding-left: 0;
}

.header ul li {
    list-style: none;
    display: inline;
    margin-left: 5px;
    padding: 3px;
}

.header .active {
    text-decoration: none;
    font-weight: bold;
}