.popover {
    position: relative;
    display: block;
    z-index: 1000;
    max-width: 300px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #008CBA;
    border-radius: 4px;
}

.popover.hidden {
    display: none;
}