@import '../guideline/base.css';
@import '../guideline/header/style.css';
@import '../guideline/code/style.css';

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: #f3f3f3;
}

.page-container.title {
    display: block;
    font-size: 26px;
    line-height: 1.2;
    margin: 0 0 10px;
}

.page-container .table {
    width: 75%;
}

@media(max-width: 768px) {
    .page-container .table {
        width: 100%;
    }
}