.modal {
    position: absolute;
    display: block;
    z-index: 100;
    max-width: 75%;
    background-color: #fff;
    border: 1px solid #008CBA;
    border-radius: 4px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}


.modal.background {
    position: absolute;
    left: 0;
    top: 0;
    background: #4a4a4a;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    z-index: 99;
}

.modal.hidden {
    display: none;
}

.modal .title {
    padding: 10px;
    border-bottom: solid 1px #008CBA;
}

.modal .title .content {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    font-size: 24px;
}

.modal .title .close {
    float: right;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 700;
    opacity: .5;
}

.modal .content {
    padding: 10px;
}

@media(max-width: 720px) {
    .modal {
        max-width: 90%;
    }
}

@media(max-width: 540px) {
    .modal {
        max-width: 100%;
    }
}