.textarea {
    border: solid 1px #008CBA;
    padding: 0 10px;
    border-radius: 2px;
    line-height: 24px;
}

.textarea:focus {
    outline: none;
}

.textarea:disabled {
    border: solid 1px #4a4a4a;
    background: #0000000d;
    cursor: default;
}
