html {
    height: 100%;
}

body {
    min-height: 100%;
    font-family: "Times New Roman";
    font-size: 18px;
    line-height: 1.5;
}

/*user agent style переопределяют стили кнопок, инпутов, текст ареа, кнопок*/
input, textarea, select, button {
    font-size: 18px;
}