.input {
    border: solid 1px #008CBA;
    padding: 0 10px;
    border-radius: 2px;
    height: 38px;
    line-height: 38px;
}

.input:focus {
    outline: none;
}

.input:disabled {
    border: solid 1px #4a4a4a;
    background: #0000000d;
    cursor: default;
}
