.dropdown {
    position: relative;
    display: block;
    z-index: 1000;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #008CBA;
    border-radius: 4px;
    box-sizing: border-box;
}

.dropdown.hidden {
    display: none;
}

.dropdown .item {
    padding: 5px 0;
}

.dropdown .item:hover {
    background-color: #0000000d;
}